{% comment %} 
1. Success message modal 
    a. when draft order is successfully submited.
    b. modal button: redirects to home page.
    c. Clear the cart.
    d. "X" also redirects to home page and clears cart
2. If there is an error: 
    a. display an error message.
    b. Stay on current page.
    c. preserve cart.
    d. button title: return to cart
 {% endcomment %}

<div id="cc-overlay" class="sch-overlay hidden"></div>
<div id="cc-modal" class="sch-modal-content sch-modal-positioned hidden">
    <div class="sch-align-content">
        <div class="sch-modal-message sch-modal-text">
            <h2>Your Order Was Submitted Successfully!</h2>
            <p>You will receive a confirmation email shortly.</p>
        </div>
        <div class="btn-container">
            <a id="close-modal-btn" class="btn" href={{ routes.root_url }}>RETURN TO HOME PAGE</a>
        </div>
    </div>
</div>
